<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h4 class="modal-title" id="delete-modal-title-text"></h4>
      </div>
      
      <div class="modal-footer">
        <button id="yes" class="btn btn-danger">Yes</button>
        <button id="deleteModal_close" type="button" class="btn btn-secondary">No</button>
      </div>

    </div>
  </div>
</div>

<style type="text/css">
  #deleteModal {
  padding-top: 20%;
}
</style>

<script>

  // modal stuff


  $('#deleteModal').on('shown.bs.modal', function (e) {
    $('html').addClass('freezePage'); 
    $('body').addClass('freezePage');
  });
  
  $('#deleteModal_close').click( () => {
    $('#deleteModal').modal('hide'); 

  })


  $(function(){
    if (/iPhone|iPod|iPad/.test(navigator.userAgent)) {
      $('iframe').wrap(function(){
        var $this = $(this);
        return $('<div />').css({
          width: $this.attr('width'),
          height: $this.attr('height'),
          overflow: 'scroll',
          '-webkit-overflow-scrolling': 'touch'
        });
      });
    }
  })

  function deleteModal(type, id) {
    // deleting post
    if (type == 'post') {
      $('#yes').attr('onClick', 'deletePost('+id+');');

    }
    // deleting comment
    else if (type == 'comment') {
      $('#yes').attr('onClick', 'deleteComment('+id+');');
    }

    let titleMessage = (type == 'post')? 'Delete post?' : 'Delete comment?';
    $('#delete-modal-title-text').text(titleMessage);
    $('#deleteModal').modal();
    
    
  }

  function deletePost(post_id) {
    $.ajax({
      url: '/api/posts/' + post_id + '/delete',
      type: 'DELETE',
      beforeSend: function (xhr) {   //Include the bearer token in header
        xhr.setRequestHeader("Authorization", 'Bearer '+access_token);
      },
      success: (data) => {
        $('#post'+post_id).hide();
        $('#deleteModal').modal('hide');
        alertModal("Post deleted");
      },
      error: (err) => {
        $('#deleteModal').modal('hide');
        const alertTitle = "Error " + err.status + ": " + err.statusText;
        let alertText = "";
        if (err.responseJSON.error && err.responseJSON.error.code == 190) // auth error
          alertText = err.responseJSON.error.message + " Please log in and try again.";
        else if (err.status != 500) // other error (not internal service error)
          alertText = err.responseJSON.message;
        
        alertModal(alertTitle, alertText);
      },
    });
  }

  function deleteComment(comment_id) {
    $.ajax({
      url: '/api/comments/' + comment_id + '/delete',
      type: 'DELETE',
      beforeSend: function (xhr) {   //Include the bearer token in header
        xhr.setRequestHeader("Authorization", 'Bearer '+access_token);
      },
      success: (data) => {
        $('#comment'+comment_id).hide();
        $('#deleteModal').modal('hide');
        alertModal("Comment deleted");
      },
      error: (err) => {
        $('#deleteModal').modal('hide');
        const alertTitle = "Error " + err.status + ": " + err.statusText;
        let alertText = "";
        if (err.responseJSON.error && err.responseJSON.error.code == 190) // auth error
          alertText = err.responseJSON.error.message + " Please log in and try again.";
        else if (err.status != 500) // other error (not internal service error)
          alertText = err.responseJSON.message;
        
        alertModal(alertTitle, alertText);
      },
    });
  }


</script>

