<!-- Page for deleting modal -->
<link rel="stylesheet" href="/css/modal.css">

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close close-modal">&times;</span>
   
    <header class="modal-header">
      
      <a href="/profiles/{{username}}"> 
        <img id="profile_picture" style="width: 5rem; display:inline;" src="">    
          <span id="username"></span> </a>
          <span id="date" style="float:right;"></span>
        </p>
        <br><br><br><br>
    </header>
    
    <!-- <div class="modal-body"> Are you sure you want to delete {{firstName}} {{lastName}}? </div> -->
    <div class="modal-body">
      
      <img id="picture" class="card-img-top" style="width: 100%; height: 100%;"src="" alt="Card image cap">
      
      <p id="dish_name"></p>
      <p id="caption"></p>
      <p id="rating"></p>
      <p id="likes"></p>
      <p id="dislikes"></p>
    </div>

    <p id="profile_id-modal" style="display:hidden"></p>
    
    <footer class="modal-footer">
      <br>
      <hr>
      <br>
      <button class="modal-btn modal-like-btn">Like</button>
      <button class="modal-btn modal-dislike-btn ">Dislike</button>
      <a class="modal-btn modal-cancel-btn close-modal">Close</a>
    </footer>
  </div>

</div>



<!-- JS for modal -->
<script>
  // modal stuff
  const modal = $('#myModal');

  function showModal(profile_picture, username, date, picture, 
                     dish_name, caption, rating, likes, dislikes) {
    modal.attr('style', 'display:block');
    $('#profile_picture').attr('src', profile_picture);
    $('#username').text(username)
    $('#date').text(date);
    $('#picture').attr('src', '/api/photos/' + picture);
    $('#dish_name').text('dish name: ' + dish_name);
    $('#caption').text('caption: ' + caption);
    $('#rating').text('rating: ' + rating);
    $('#likes').text('likes: ' + likes);
    $('#dislikes').text('dislikes: ' + dislikes);
  }

  // close popup modal
  $('.close-modal').click(() =>
  {
    modal.attr('style', 'display:none');
  });
</script>