<style type="text/css">
  .modal-body p {
    word-wrap: break-word;
}
</style>
<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-custom" role="document">
    <div class="modal-content" >
      <div class="modal-header">

        <div class="col">
        <a id="link" href="/profiles/{{username}}" style="float:left;">
          <img id="profile_picture" style="width: 5rem; display:inline;" src="">
          <dl style="display:inline-block;">
            <dt id="username"></dt> </a>
            <br>
            <dt id="time" style="font-weight: initial"></dt>
            <dt id="date" style="font-weight: initial"></dt>
            
          </dl>
        
      </div>
      <div class="col">

        <br>
        <a href='' id="restaurant_link"><div id="restaurant_name" style="float:right;"></div></a>
        <br>
        <div id="dish_name" style="float:right;"></div>
        </div>
      </div>

      <div class="modal-body" style="margin: 1px; padding: 1px;">
        <img id="picture" class="card-img-top" style="width: 100%; height: 100%;"src="" alt="Not Found" onerror='this.onerror=null;this.src="/images/alt_img.png"'>
        <p id="caption"></p>
        <hr>

        <div id="comment-div" style="margin: 1px; padding: 1px;"> 
          <button id="load-comments-btn" style="display:none"> View comments </button>
        </div>

      </div>
      

      <div class="modal-footer">
        <span class="mr-auto">
          <div id="stars">
            <i class="fa fa-star-o" id="star1" aria-hidden="true"></i>
            <i class="fa fa-star-o" id="star2" aria-hidden="true"></i>
            <i class="fa fa-star-o" id="star3" aria-hidden="true"></i>
            <i class="fa fa-star-o" id="star4" aria-hidden="true"></i>
            <i class="fa fa-star-o" id="star5" aria-hidden="true"></i>
          </div>

          <img src="/images/fork_outline.png" id="like-btn" onClick="like()" width="10rem" height="20rem"style="cursor:pointer">
          <img src="/images/fork_filled.png" id="undo-like-btn" onClick="like()" width="10rem" height="20rem" style="cursor:pointer">
          <span id="likes" style="cursor:pointer"></span>

          <img src="/images/knife_outline.png" id="dislike-btn" onClick="dislike()" width="10rem" height="20rem" style="cursor:pointer">
          <img src="/images/knife_filled.png" id="undo-dislike-btn" onClick="dislike()" width="10rem" height="20rem" style="cursor:pointer">
          <span id="dislikes" style="cursor:pointer"></span>
          
        </span>


        <button id="share" class="btn btn-primary"> Share </button>
        <p id="delete-message" style="display:none"> Are you sure? </p>
        <button id="delete-yes" style="display:none" class="btn btn-danger"> Yes </button>
        <button id="delete-no" style="display:none" class="btn btn-secondary"> No </button>
        <button id="delete-btn" class="btn btn-secondary"> Delete post </button>
        <button type="button" class="btn btn-secondary close-modal">Close</button>

    </div>
  </div>
</div>


<!-- JS for modal -->
<script>
  // modal stuff
  $('#postModal').on('hidden.bs.modal', function () {
    $('body').css('overflow', 'auto');
  })

  $('#postModal').on('shown.bs.modal', function (e) {
    $('html').addClass('freezePage'); 
    $('body').addClass('freezePage');
  });
  $('.modal').on('hidden.bs.modal', function (e) {
    $('html').removeClass('freezePage');
    $('body').removeClass('freezePage');
  });


  $(function(){
    if (/iPhone|iPod|iPad/.test(navigator.userAgent)) {
      $('iframe').wrap(function(){
        var $this = $(this);
        return $('<div />').css({
          width: $this.attr('width'),
          height: $this.attr('height'),
          overflow: 'scroll',
          '-webkit-overflow-scrolling': 'touch'
        });
      });
    }
  })

  getCookie = (name) => {
  var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
    if (match) return match[2];
  }
  const access_token = getCookie('accessToken');
  let post_id = 0;
  let data;
  let url;
  let commentOffset;

  // set dynamic data such as like and dislike counts
  function setData(postid, likes, dislikes, liked, disliked) {
    $('#post'+postid).data({
      likes: likes,
      dislikes: dislikes,
      liked: liked,
      disliked: disliked
    });
  }

  function showModal(profile_picture, username, date, picture, dish_name, caption, 
    rating, likes, dislikes, restaurant_id, restaurant_name, postid, canEdit, liked, disliked) {
    post_id = postid;
    postData = $('#post'+postid).data();
    url = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
    url += '/restaurants/' + restaurant_id + '#post' + post_id + '_' + dish_name;
    
    // for viewing comments
    commentOffset = 0;
    $("#comment-div").html('');
    $("#comment-div").append('<button id="load-comments-btn" onClick="getComments()" style="display:none"> View comments </button>');
    checkCommentsExists(post_id);
    

    if ( $('#post'+postid).data('likes') === undefined )
      setData(postid, likes, dislikes, liked, disliked);
    

    const utcdate = new Date(date);
    const month = utcdate.toLocaleString(navigator.language, { month: "short" })
    const day = utcdate.getDate();
    const year = utcdate.getFullYear();
    const time = utcdate.toLocaleTimeString();

    //fill in rating stars
    for (let i = 1; i <= 5; i ++) {
      $('#star'+i).removeClass('fa-star-o fa-star'); //clear class
      if ( i <= rating ) 
        $('#star'+i).addClass('fa-star') //filled in star
      else
        $('#star'+i).addClass('fa-star-o') //star outline
    }

    $('#profile_picture').attr('src', profile_picture);
    $('#link').attr('href', '/profiles/' + username)
    $('#username').text(username)
    $('#date').text(day + " " + month + " " + year);
    $('#time').text(time);
    $('#picture').attr('src', '/api/photos/' + picture);
    $('#picture').attr('onerror', 'this.onerror=null;this.src="/images/alt_img.png"');
    $('#dish_name').text(dish_name);
    $('#caption').text('caption: ' + caption);
    
    $('#likes').text(postData.likes);
    $('#dislikes').text(postData.dislikes);
    $('body').css('overflow', 'hidden');
    $('#restaurant_link').attr('href', '/restaurants/' + restaurant_id);
    $('#restaurant_name').text(restaurant_name);
    
    //SQL doesn't support boolean in CASE statement, so values are set as 1 or 0
    if (canEdit == '1') // only show delete button for your own post
      $('#delete-btn').show();
    else
      $('#delete-btn').hide();


    //check if the user has liked/disliked post and display the appropriate buttons
    $('#like-btn').hide();
    $('#undo-like-btn').hide();
    $('#dislike-btn').hide();
    $('#undo-dislike-btn').hide();

    if (postData.liked == '1') 
      $('#undo-like-btn').show()  //already liked the post; show filled in fork
    else
      $('#like-btn').show()  //haven't liked the post; show fork outline

    if (postData.disliked == '1') //already disliked; show filled in knife
      $('#undo-dislike-btn').show();
    else
      $('#dislike-btn').show();

    $("#postModal").modal()
  }

  // close popup modal
  $('.close-modal').click(() => {
    $('body').css('overflow', 'auto');
    $('#postModal').modal('hide');
  });

  // check if post has comments
  // if it does, display button to view comments, otherwise show text saying none exists
  function checkCommentsExists(post_id) {
    const limit = 2;
    $.ajax({
      url: '/api/comments/all/' + post_id + '?idx='+commentOffset+'&limit='+limit,
      type: 'GET',
      success: (data) => {
        if (data.length == 0 && commentOffset == 0) { // post has no comments
          $("#comment-div").append('<p>There are no comments for this post. Be the first to comment!</p>');
        }
        else if (data.length != 0) // has comments; show button to load comments
          $('#load-comments-btn').show();
      },
      error: (err) => {
        $('.close-modal').click();
        const alertTitle = "Error " + err.status + ": " + err.statusText;
        let alertText = "";
        if (err.responseJSON.error && err.responseJSON.error.code == 190) // auth error
          alertText = err.responseJSON.error.message + " Please log in and try again.";
        else // other error
          alertText = err.responseJSON.message;
        
        alertModal(alertTitle, alertText);
      },
    });
  }

  // function to load comments
  function getComments() {
    const limit = 5;
    $.ajax({
      url: '/api/comments/all/' + post_id + '?idx='+commentOffset+'&limit='+limit,
      type: 'GET',
      success: (data) => {
        if (data.length != 0) { // post has comments; show button to load comments
          $('#load-comments-btn').show();
          $('#load-comments-btn').text('View more comments');
          data.forEach(comment => {
            let html = 
            `<p> 
              <img src="`+comment.profile_picture+`"width="5%"> `+comment.username+`: `+comment.comment_text +`
             </p>`;
            $(html).insertBefore($('#load-comments-btn'))
            // $("#comment-div").insertBefore(html);
          })
          
          commentOffset = data[data.length - 1].comment_id;
        }

        if (data.length < limit) // all comments have been loaded; hide button to load comments
          $('#load-comments-btn').hide();
        
      },
      error: (err) => {
        $('.close-modal').click();
        const alertTitle = "Error " + err.status + ": " + err.statusText;
        let alertText = "";
        if (err.responseJSON.error && err.responseJSON.error.code == 190) // auth error
          alertText = err.responseJSON.error.message + " Please log in and try again.";
        else // other error
          alertText = err.responseJSON.message;
        
        alertModal(alertTitle, alertText);
      },
    });
  }


  $('#likes').click( () => { like(); } );
  function like(callback) {
    $.ajax({
      url: '/api/posts/' + post_id + '/like',
      type: 'POST',
      datatype: 'json',
      beforeSend: function (xhr) {   //Include the bearer token in header
        xhr.setRequestHeader("Authorization", 'Bearer '+accessToken);
      },
      success: (data) => {
        const prevLikes = postData.likes;
        const currLikes = data.updated_val.likes; 
        $('#likes').text(currLikes);
        postData.likes = currLikes;

        if (prevLikes < currLikes) { // user liked post
          $('#undo-like-btn').show();
          $('#like-btn').hide();
          postData.liked = '1';
        }
        else { // user undo liked post
          $('#undo-like-btn').hide();
          $('#like-btn').show();
          postData.liked = '0';
        }

        if (callback)
          callback();

      },
      error: (err) => {
        // user tried to like post while already disliked; dislike the post for
        // the user and then like it
        if (err.status == 409) { 
          dislike( () => like() );
        }
        else {
          $('.close-modal').click();
          const alertTitle = "Error " + err.status + ": " + err.statusText;
          let alertText = "";
          if (err.responseJSON.error && err.responseJSON.error.code == 190) // auth error
            alertText = err.responseJSON.error.message + " Please log in and try again.";
          else // other error
            alertText = err.responseJSON.message;
          
          alertModal(alertTitle, alertText);
        }
        
      },
    });
  }

  $('#dislikes').click( () => { dislike(); } );
  function dislike(callback) {
    $.ajax({
      url: '/api/posts/' + post_id + '/dislike',
      type: 'POST',
      datatype: 'json',
      beforeSend: function (xhr) {   //Include the bearer token in header
        xhr.setRequestHeader("Authorization", 'Bearer '+accessToken);
      },
      success: (data) => {
        
        const prevDislikes = postData.dislikes;
        const currDislikes = data.updated_val.dislikes; 
        postData.dislikes = currDislikes;
        $('#dislikes').text(currDislikes);

        if (prevDislikes < currDislikes) { // user disliked post
          $('#undo-dislike-btn').show();
          $('#dislike-btn').hide();
          postData.disliked = '1';
        }
        else { // user undo disliked post
          $('#undo-dislike-btn').hide();
          $('#dislike-btn').show();
          postData.disliked = '0';
        }
        if (callback)
          callback();
      },
      error: (err) => {

        // user tried to dislike post while already liked; like the post for
        // the user and then dislike it
        if (err.status == 409) { 
          like( () => dislike() );
        }
        else {
          $('.close-modal').click();
          const alertTitle = "Error " + err.status + ": " + err.statusText;
          let alertText = "";
          if (err.responseJSON.error && err.responseJSON.error.code == 190) // auth error
            alertText = err.responseJSON.error.message + " Please log in and try again.";
          else // other error
            alertText = err.responseJSON.message;
          
          alertModal(alertTitle, alertText);
        }

      },
    });
  };


  $('#delete-btn').click( () => {
    $('#delete-btn').hide();
    $('#delete-message').show();
    $('#delete-yes').show();
    $('#delete-no').show();
    $('#share').hide();
  })

  $('#delete-no').click( () => {
    $('#delete-btn').show();
    $('#delete-message').hide();
    $('#delete-yes').hide();
    $('#delete-no').hide();
    $('#share').show();
  })

  $('#delete-yes').click( () => {
    $.ajax({
      url: '/api/posts/' + post_id + '/delete',
      type: 'DELETE',
      beforeSend: function (xhr) {   //Include the bearer token in header
        xhr.setRequestHeader("Authorization", 'Bearer '+access_token);
      },
      success: (data) => {
        $('#post'+post_id).hide();
        $('#delete-no').click();
        $('.close-modal').click();
        alertModal("Post deleted");
      },
      error: (err) => {
        $('.close-modal').click();
        const alertTitle = "Error " + err.status + ": " + err.statusText;
        let alertText = "";
        if (err.responseJSON.error && err.responseJSON.error.code == 190) // auth error
          alertText = err.responseJSON.error.message + " Please log in and try again.";
        else // other error
          alertText = err.responseJSON.message;
        
        alertModal(alertTitle, alertText);
      },
    });
  })

  $('#share').click( () => {
    shareModal("Link to This Post", url); 
  })
</script>
