<nav class="navbar navbar-expand-lg custom-navbar sticky-top fix_gap">

  <div class="collapse navbar-collapse" id="navbarSupportedContent fix_gap">
    <ul class="navbar-nav mr-auto navbar-left nav_option" >
      <li class = "foodi_header_place">
        <a class = "foodi_header"> <b>FOODI!</b> </a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right nav_option">
      <li class="nav_individual_place">
        <a href="../home" class = "nav_individual_option">
          Home
        </a>
      </li>
      <li class="nav_individual_place">
        <a href="../discover" class = "nav_individual_option">
          Discover
        </a>
      </li>
      <li onClick="profilePage()" class="nav_individual_place">
        <a class = "nav_individual_option">
          Profile
        </a>
      </li>
      <li class="nav_individual_place_newpost">
        <a href="../posts/create" class = "nav_individual_option_newpost">
          New Post
        </a>
      </li>
    </ul>
  </div>
</nav>

<script>
  getCookie = (name) => {
    var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
    if (match) return match[2];
  }
  const username = getCookie('username');
  const accessToken = getCookie('accessToken');

  function profilePage() {

    location.href = "/profiles/" + username;
  }
</script>
