
  <div class="card" style="width: 50%;margin-bottom:100px;">
    <div class="card-header">
        <p style="text-align:left;"> {{post.author}}
            <span style="float:right;">{{post.date}}</span>
        </p>
    </div>
    <div class="card-body">
      <img class="card-img-top" src={{image}} alt="Card image cap">
    </div>
    <div class="card-footer text-muted">
      {{post.caption}}
    </div>
  </div>
