<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <div class="col">
        <a href="/profiles/{{username}}" style="float:left;">
        <img id="profile_picture" style="width: 5rem; display:inline;" src="">
        <ul style="display:inline-block;">
          <li>1</li>
          <li>2</li>
        </ul>
        </a>
      </div>
      <div class="col">

        <br>
        <div id="restaurant_id" style="float:right;"></div>
        <br>
        <div id="dish_name" style="float:right;"></div>
        </div>

      </div>
      <div class="modal-body">

        <img id="picture" class="card-img-top" style="width: 100%; height: 100%;"src="" alt="Card image cap">
        <p id="rating"></p>
        <p id="caption"></p>





      </div>
      <p id="profile_id-modal" style="display:hidden"></p>

      <div class="modal-footer">
        <span class="mr-auto">
          <span id="likes"></span>
          <span id="dislikes"></span>
        </span>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

    </div>
  </div>
</div>


<!-- JS for modal -->
<script>
  // modal stuff

  function showMod(date, picture, dish_name, caption, rating, likes, dislikes, restaurant_id) {

    $('#date').text(date);
    $('#picture').attr('src', '/api/photos/' + picture);
    $('#dish_name').text('dish name: ' + dish_name);
    $('#caption').text('caption: ' + caption);
    $('#rating').text('rating: ' + rating);
    $('#likes').text('likes: ' + likes);
    $('#dislikes').text('dislikes: ' + dislikes);
    $('body').css('overflow', 'hidden');
    $('#restaurant_id').text(restaurant_id);

    $("#postModal").modal()
  }

  // close popup modal
  $('.close-modal').click(() =>
  {
    modal.attr('style', 'display:none');
    $('body').css('overflow', 'auto');
  });
</script>
