<!DOCTYPE html>
<html lang='eg'>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset='UTF-8'/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Discover</title>
  <link rel='stylesheet' type='text/css' href='/css/styles.css'>
  <!--   <link rel='stylesheet' type='text/css' href='./discover.css'/>   -->

  <style> 
    .ui-autocomplete {
      background-color: #fff;
    }
    /* General Style Code */
    .fix_gap {
      margin: 0;
    }
    .white{
      color: white;
    }
    .before:hover{
      class: fa fa-thumbs-up fa-lg white after;

    }
    /* Style for page content */
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    .general {
      margin: auto;
    }
    .controls {
      background-color: #fff;
      border-radius: 2px;
      border: 1px solid transparent;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      box-sizing: border-box;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      height: 29px;
      margin-left: 17px;
      margin-top: 10px;
      outline: none;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 400px;
    }

    .controls:focus {
      border-color: #4d90fe;
    }
    .title {
      font-weight: bold;
    }
    #infowindow-content {
      display: none;
    }
    #map #infowindow-content {
      display: inline;
    }
    #map {
      height: 400px;
      width: 400px;
    }
    </style>

		</head>
<body>

  <!--  Navigation 
  <div>
    <ul class = nav_option>
      <li class = "foodi_header_place"> <a class = "foodi_header" href = "../"><b> FOODI! </b></a></li>
      <li class = "nav_individual_place_newpost"><a class = "nav_individual_option_newpost" href="../createpost">New Post</a></li>
      <li class = "nav_individual_place"><a class = "nav_individual_option" href="../discover">Discover</a></li>
      <li class = "nav_individual_place"><a class = "nav_individual_option" href="../home">Home</a></li>
    </ul>
  </div> -->

  {{> navbar}}

    <div class="general">
      <input type="text" id="pac-input" class="controls" placeholder="Enter a location"/>
        <div id="map"></div>
        <div id="infowindow-content">
          <span id="place-name" class="title"></span><br>
          <span id="place-address"></span>
        </div>
      <br>
      <input id="restaurant_id" type="text" autocomplete="off" placeholder="Enter Restaurant ID" name="restaurant_id" style="display:none">
   </div>

  <!-- <script src="/js/jquery-3.3.1.min.js"></script>


  <script>
    $(document).ready( () => {

      let username_list = [];
      $.ajax({
        url: 'api/profiles/username-list',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          username_list = data;
        }
      });

      $( "#username" ).autocomplete({
        source: (request, response) => {
          response(username_list)
        },
        focus: function(){ return false; }
        })
        .on( 'autocompleteresponse autocompleteselect', function( e, ui ){
          var t = $(this),
              details = $('#uid'),
              label = ( e.type == 'autocompleteresponse' ? ui.content[0].label :  ui.item.label ),
              value = ( e.type == 'autocompleteresponse' ? ui.content[0].value : ui.item.value );

          if (e.type != 'autocompleteresponse')
            t.val(ui.item.label);
          if (e.type != 'autocompleteresponse')
            details.val(ui.item.value);

          return false;
        });
    });
    </script>
    -->

    <script src="/js/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.4/jquery-ui.min.js"></script> -->
<script src="/js/createPost.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6ATDZBleVEUdqGRj5ViySw_L6RVjOZzE&libraries=places&callback=initMap"
        async defer></script>
  
</body>
<html>
