<!DOCTYPE html>
<html lang='eg'>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-115292039-1');
</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset='UTF-8'/>
  <title>Foodie Homepage</title>
  <link rel='stylesheet' href='views/css/login.css'/> 
</head>

<body>
  <!-- <img id="site-logo" src='/views/images/logo.png' width=77 alt='Logo for Common Ground'/> -->
  <div id="login-title">
    <h1>Foodie Homepage</h1>
  </div>
  <form action="/api/posts/createPostPage" method="get">
    <button>Create a Post</button>
  </form>
</body>
</html>
