<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/styles.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    
  </head>
  <body class="bg">
   
  <div>
      <h1 style="font-weight:bold; font-size:100px"> Foodi </h1> 
    </div> 

    <div class="facebook" align="center">
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button>
    </div>

    <div id="username_div" style="display:none">
    <label> Please set username </label>
    <input id="username" required>  
    <button id="btn"> Set username </button>
    </div>
  
    <p id="name"></p> 
    <p id="user_id"></p>
    <img id="pic" src="">


    {{> facebook}}
    <script src="/js/facebook.js"></script>
    
  </body>
</html>
