<!DOCTYPE html>
<html lang='eg'>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-115292039-1');
</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset='UTF-8'/>
  <title>Login Foodie</title>
  <link rel='stylesheet' href='views/css/login.css'/>
</head>

<body>
  
  <!-- <img id="site-logo" src='/views/images/logo.png' width=77 alt='Logo for Common Ground'/> -->
  <div id="login-title">
    <h1>Foodie Login</h1>
  </div>
    <label> Enter access token </label>
    <input id="access_token" required>
    <button id="login-btn"> Log in </button>
    
    <p id="name"> </p>
    <p id="user_id"> </p>
    <img id="pic" src=""> 

  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>
     $(document).ready( () => {
      $('#login-btn').click( () => {

        const access_token = $('#access_token').val();
        if (access_token == "") 
          alert("fill in field");
        else {
          
          const body = { access_token: access_token };
          $.ajax({
            url: '/api/accounts/signin',
            type: 'POST',
            datetype: 'json',
            beforeSend: (xhr) => {   //Include the bearer token in header
              xhr.setRequestHeader("Authorization", 'Bearer '+access_token);
            },
            success: (data) => {
              
              alert("success");
              $('#name').text(data.userData.first_name + data.userData.last_name);
              $('#user_id').text(data.userData.id);
              $('#pic').attr('src', data.userData.picture.data.url);
            },
            error: (err) => {
              alert(JSON.stringify(err));
            }
          });  
        
        }

      });

    });
  </script>
</body>
</html>
