<!DOCTYPE html>
<html lang='eg'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset='UTF-8'/>
    <title>View restaurant</title>
    <!-- <link rel='stylesheet' href=''/> -->
    <link rel='stylesheet' href='views/css/login.css'/> 

    <!-- <style> 
        #map {
          height: 400px;
          width: 400px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        .controls {
          background-color: #fff;
          border-radius: 2px;
          border: 1px solid transparent;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          box-sizing: border-box;
          font-family: Roboto;
          font-size: 15px;
          font-weight: 300;
          height: 29px;
          margin-left: 17px;
          margin-top: 10px;
          outline: none;
          padding: 0 11px 0 13px;
          text-overflow: ellipsis;
          width: 400px;
        }

        .controls:focus {
          border-color: #4d90fe;
        }
        .title {
          font-weight: bold;
        }
        #infowindow-content {
          display: none;
        }
        #map #infowindow-content {
          display: inline;
        }

    </style> -->

	</head>
  <body>
    <!-- <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    <div id="map"></div>
    <div id="infowindow-content">
      <span id="place-name"  class="title"></span><br>
      Place ID <span id="place-id"></span><br>
      <span id="place-address"></span>
    </div>


    <h1 id="text">View restaurant</h1>
    <label> Enter restaurant ID </label>
    <input id="restaurant_id" type="text" disabled="true">
    <button id="btn"> Search restaurant </button>

  <!-- show created post -->
  <!-- <div id="get_response">
    <p id="id"> Restaurant ID: </p>
    <p id="restaurant_name"> Restaurant name: </p>
    <p id="address"> Address: </p>
    <p id="city"> City: </p>
    <p id="state"> State: </p>
    <p id="zip"> Zip code: </p>
    <p id="operation_hours"> Operation hours: </p>
  </div>

   <h4 id="not_found"> </h4> -->

   <div id="content"> </div>

   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
   <script>
    $(document).ready( () => {
      
      //$("#btn").on('click', function () {
        $('#content').html("");
        //const access_token = $('#access_token').val();
        $.ajax({
          url: 'api/profiles/feed',
          type: 'GET',
          datatype: 'json',
          // beforeSend: function (xhr){
          //   xhr.setRequestHeader("Authorization", 'Bearer '+access_token);
          // },
          success: (data) => {
            $('#content').html("");
            $.each(data, function() {
                var url = "/api/photos/" + this.picture;
                var profile_pic = this.profile_picture;
                var toAdd = '<img src="' + url + '" width="150" height="150"><br>';
                toAdd += '<p><img src="' + profile_pic + '" width="50" height="50">';
                toAdd += '<strong>' + this.username + '</strong>' + ": " + this.caption + '</p>';
                toAdd += '<p>' + this.date+'</p>';
                toAdd += '<hr>';
                $('#content').append(toAdd);
              });
          },
          error: (err) => {
            alert(JSON.stringify(err));
          }
        });
      //});

    });
  </script>
  </body>
</html>

























