<!DOCTYPE html>
<html>
<head>
  
</head>
<body>



<div class="dish1">
  <img src="/api/photos/1543217609418-image.jpg" width="50" height="50">
  <img src="/api/photos/1543217609418-image.jpg" width="50" height="50">
</div>
<div class="dish2">
  <img src="/api/photos/1543421257208-D692EE77-D5E7-44FD-B911-C9B6D7667320.jpeg" width="50" height="50">
  <img src="/api/photos/1543421257208-D692EE77-D5E7-44FD-B911-C9B6D7667320.jpeg" width="50" height="50">
</div>


  <script src="/js/jquery-3.3.1.min.js"></script>
  
  
</body>
</html>