
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {margin: 0; padding: 0;}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}

.custom-navbar {
  background-color:#f08d8c;
}

.custom-nav-link {
  padding-right:10px;
  font-family:"Comic Sans MS", cursive, sans-serif;
}

.main {
  padding: 16px;
}

.sticky + .main {
  padding-top: 100px;
}

#feed-body {
  background-color: #fff7d4;
}
.bg {
  background-image: url("../images/login_bg.jpeg");



  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  height:300px;

  color:white;
  text-align: center;
}

/* Some general style code */
.fix_gap {
   margin: 0;
 }
 .white{
   color: white;
 }

 /* Style code for Nav Bar */
 .nav_option {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f08d8c;
}
.nav_individual_place {
  float: right;
  display: inline;
  margin-right: 8px;
  margin-top: 4px;
}
.nav_individual_option {
  display: block;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
}
.nav_individual_place_newpost {
  float: right;
  display: inline;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
  border-radius: 15px;
  text-decoration: none;
  border: 1.5px solid white;
  background-color: #d65452;
  position: relative;
}
.nav_individual_option_newpost {
  display: block;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: white;
  font-size: 18px;
  padding: 8px 8px 8px 8px;
  text-align: center;
}
.nav_individual_option:hover, .nav_individual_option_newpost:hover, .foodi_header:hover {
  color: #f5f3e9;
  text-decoration: none;
}
.foodi_header_place {
  float: left;
}
.foodi_header {
  display: block;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: white;
  font-size: 28px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}





.ui-autocomplete {
  background-color: #fff;
  width: 1px;
}

.ui-helper-hidden-accessible {
  display:none !important;
}

#map {
  height: 400px;
  width: 400px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  background: linear-gradient(rgba(240, 141, 140, 0.6), rgba(255, 247, 212, 0.6));
  font-family: montserrat, arial, verdana;
  height: 100%;

}


 #data{
  width: 600px;
  margin: 50px auto;
  text-align: center;
  position: relative;
 }

 #data fieldset{
  background: white;
  border: 0 none;
  border-radius: 20px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
 }

#data fieldset:not(:first-of-type){
  display: none;
}

#data input, #data textarea{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

#data .action-button{
  width: 100px;
  background: #46d6c4;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#data .action-button: hover, #data .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.fs-title{
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

#progressbar {
  margin-bottom: 40px;
  overflow: hidden;
  counter-reset: step;
}

#progressbar li{
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  width: 33.333%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 10px auto;
}

#progressbar li:after{
  content: '';
  width: 100%;
  height: 4px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}

#progressbar li:first-child:after{
  content: none;
}

#progressbar li.active:before, #progressbar li.active:after{
  background: #00C8AF;
  color: white;
}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}
.title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}